<p>Esta es una misión introductoria, el objetivo es explicar cómo resolver misiones en CheckiO y cómo aprovechar al máximo su resolución. {% if not is_js %}Si quieres saber cómo sacar el máximo provecho del uso de CheckiO, echa un vistazo a nuestra publicación de blog <a href="https://py.checkio.org/blog/checkio-intro-full-version-from-basic-to-advance-u/">"From Basic to Advance usage"</a>.{% endif %}</p>

<p>Esta misión es la más sencilla: Escribir una función que recibirá dos números como entrada y deberá retornar la multiplicación de esos dos números.</p>


<p>
    <strong>Entrada: </strong> Dos argumentos. Ambos de tipo int.
</p>

<p>
    <strong>Salida: </strong> Int. 
</p>


    <p>
        <strong>Ejemplos:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>Una serie de pistas a continuación te ayudarán a entender cómo resolver la misión. Inicia la serie haciendo clic en "I don’t know how to solve that mission."</p>
